// hoja de estilos globales 
@import "utilidades/vars";
@import "utilidades/listas";

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos globales */

body{
    background-color: $color-fondo;
    font-family: 'Poppins', sans-serif;

    a{
        text-decoration: none;
    }
}

/*estilos de header */

header{
    nav div a .imgLogo{
        width: 25%;
    }
    nav div div .navbar-nav{git 
        gap: 1.5rem;
    }
}

/*estilos de footer */

footer{
    background-color: nth($colores, 2);
    text-align: center;
    padding: 0.4rem;
    margin-top: 2rem;

    h3{
        font-size: 1.3rem;
        padding-bottom: 10px;
    }

    h4{
        font-size: 0.8rem; 
        padding-top: 0.5rem;
    }

    div a img{
        width: 5%;  
    }     
}


// import
@import "html/home";
@import "html/contacto";
@import "html/nosotros";
@import "html/promos";
@import "html/servicios";