// variables 
@import "../utilidades/vars";
@import "../utilidades/listas";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/*estilos de CONTACTO */

/* estilos de main */

.mainContacto{
    .tituloCont{
        @extend %titulos;
    }
    .subtituloCont{
        text-align: left;
        font-size: 1rem;
        font-weight: lighter;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    form{
        fieldset{
            text-align: justify;
            legend{
                margin-left: 1rem;
                font-size: 18px;
            }
            .grillaInput{
            margin-left: 1rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            }
            .botonEnviar{
                margin-left: 1rem;
            }
            .botonSend{
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                margin-left: 9rem;
            }     
        }
    }        
}


//MEDIA QUERIES

/* mq de tablet */
@media screen and (min-width:600px){
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        fieldset .grillaInput{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            .itemCinco, .botonEnviar{
                grid-column: span 2;
            }
        }
    }
}

/* mq de desktop */
@media screen and (min-width:1024px){
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        fieldset .grillaInput{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
            .itemCinco, .botonEnviar{
                grid-column: span 2;
            }
        }
    }
    
}