// variables 
@import "../utilidades/vars";
@import "../utilidades/listas";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/*estilos de PROMOS */

/* estilos de main */

.mainPromo{
    .tituloProm{
        @extend %titulos;
    }
    
    div h2{
        text-align: left;
        font-size: 2rem;
    }
    
    div .row{
        align-items: baseline;
        div .card-img-top{
            width: 40%;
        }  
    } 
    
    div div div div .card-text .text-muted{
        text-align: end;
    }
    
    .botonUno{
        display: flex;
        align-items: center;
        justify-content: center;
        .botonContacto{
            @include botones (5rem, black, 2rem)
        }   
    }
}

/* mq de desktop */
@media screen and (min-width:1024px){
    .botonUno:hover{
        transform: translateY(-4px) translateX(-2px);
    }
}