// variables 
@import "../utilidades/vars";
@import "../utilidades/listas";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/*estilos de PROMOS */

/* estilos de main */

.mainPromo{
    .tituloProm{
        @extend %titulos;
    }
    
    div h2{
        text-align: left;
        font-size: 2rem;
    }
    
    div div div .card-img-top{
        width: 40%;
    }
    
    div div div div .card-text .text-muted{
        text-align: end;
    }
    
    .botonUno{
        display: flex;
        align-items: center;
        justify-content: center;
        .botonContacto{
            @include botones (5rem, black, 2rem)
        }   
    }
}