@import "listas";

//mixin con parámetros

@mixin botones($border-radius, $color, $font-size){
    border-radius: $border-radius;
    color: $color;
    font-size: $font-size;
    background-color: nth($colores, 2);
}


//mixin sin parámetros

@mixin footer{
    background-color: nth($colores, 1);
    text-align: center;
    padding: 0.4rem;
    margin-top: 2rem;
}
